<!-- src/main/resources/templates/fragments/header.html -->

<header th:fragment="siteHeader">

  <!-- Logo -->
  <div class="logo">
    <a th:href="@{/}">
      <img src="/img/avtfast_logo.png" alt="AVT Fastners Logo"/>
    </a>
  </div>

  <!-- Mobile Hamburger -->
  <div class="menu-toggle" id="mobile-menu">
    ☰
  </div>

  <!-- Navigation -->
  <nav>
    <ul id="nav-list">

      <li><a th:href="@{/}">Home</a></li>

      <li class="dropdown">
        <a href="#">Product Solutions</a>
        <ul class="dropdown-content">
          <li><a href="/product/show_fastners">Fasteners</a></li>
          <li><a href="/product/show_nuts">Nuts</a></li>
          <li><a href="/product/show_bolts">Bolts</a></li>
          <li><a href="/product/show_screw">Screws</a></li>
          <li><a href="/product/show_threaded_rod">Threaded Rod</a></li>
          <li><a href="/product/show_hose_clamp">Hose Clamp</a></li>
        </ul>
      </li>

      <li>
        <a th:href="@{/our-team}">Our Team</a>
      </li>

      <li class="dropdown">
        <a href="#">News & Media</a>
        <ul class="dropdown-content">
          <li><a th:href="@{/media-view}">News</a></li>
          <li><a th:href="@{/exhibition}">Exhibition</a></li>
        </ul>
      </li>

      <li>
        <a th:href="@{/contact-us}">Contact Us</a>
      </li>

     <li>
        <a th:href="@{/company-profile}">About Us</a>
      </li>

     <!--  <li class="dropdown">
        <a href="#">About Us</a>
        <ul class="dropdown-content">
          <li><a th:href="@{/company-profile}">Company Profile</a></li>
          <li><a th:href="@{/vision-mission}">Vision and Mission</a></li>
          <li><a th:href="@{/director}">Director Message</a></li>
        </ul>
      </li> -->

	  <li>
        <a href="/organization-chart/latest" target="_blank">Organization Chart</a>
      </li>

     <!--  <li>
        <a th:href="@{/signin}">Login</a>
      </li> -->

    </ul>
  </nav>

</header>
